<!DOCTYPE html>
<html>
	<head>
	  <title>Phoenix</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
	
	<!-- Dropdown Structure -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="#!">My Profile</a></li>
	  <li><a href="#!">My Courses</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">Sign Out</a></li>
	</ul>

	<!-- Dropdown Structure -->
	<ul id="dropdown2" class="dropdown-content">
	  <li><a href="#!">My Profile</a></li>
	  <li><a href="#!">My Courses</a></li>
	  <li class="divider"></li>
	  <li><a href="#!">Sign Out</a></li>
	</ul>

	<header>	
		<nav class="brown lighten-4 z-depth-2">
		<div class="container">
		    <div class="nav-wrapper">
		      <a href="#!" class="brand-logo">Phoenix</a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
		      <ul class="right hide-on-med-and-down">
		        <li><a href="#">Courses</a></li>
		        <li><a href="#">Sign Up</a></li>
		        <li><a href="#">Login</a></li>
		        <!-- Dropdown Trigger -->
			    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Joe Minock<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="#">Courses</a></li>
		        <li><a href="#">Sign Up</a></li>
		        <li><a href="#">Login</a></li>
		        <!-- Dropdown Trigger -->
			    <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Joe Minock<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
		      </ul>
		    </div>
	    </div>
	  </nav>
	</header>

	<main>
		<div class="container">
			<%= yield %>
		</div>
	</main>

	<footer class="page-footer brown lighten-4">
        <div class="container">
            <div class="row">
            	<div class="col l6 s12">
	                <h5 class="white-text">Phoenix</h5>
	                <p class="grey-text text-lighten-4">Bacon ipsum dolor amet cow ullamco flank, kielbasa aliqua officia magna short loin veniam t-bone nisi fatback frankfurter. Landjaeger meatball ea t-bone fatback pork belly jerky alcatra aute veniam quis brisket tail. Ham hock ea tempor, in ullamco beef ribs consectetur veniam dolor ex.</p>
             	</div>
            	<div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Let's Get Social!</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Pinterest</a></li>
	                </ul>
            	</div>
            </div>
        </div>
    	<div class="footer-copyright">
            <div class="container">
	            © 2015 Copyright NicheEd Group, LLC.
	            <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right" %>
            </div>
     	</div>
    </footer>

	</body>
	
	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</html>
