<!DOCTYPE html>
<html>
	<head>

		<!-- SumoMe -->
		<script src="//load.sumome.com/" data-sumo-site-id="2d7e6a792d85e39df9aae774cf91aef91afd56b1ffd1814d193a897cf94d6ccc" async="async"></script>
		<!-- SumoMe -->

	 	<title>Get Startbox... How-To Videos and Kits for Honey Dos and Home Projects</title>

	 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="Joe Minock">
	    
	    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
	</head>

	<body>
		<%= render partial: "shared/header" %>
		<%= render partial: "shared/message" %>

		<main>
			<div class="container">
				<%= yield %>
			</div>
		</main>

		<%= render partial: "shared/footer" %>

	</body>
	
	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</html>
